
// Cursor blink navbar

.logo {
    //display: inline; //flex;
    float: left;
    //align-items: center;
    text-decoration: none;
    font-weight: bold;
    font-display: auto;
    font-family: monospace, monospace;
  
    img {
      height: 44px;
    }
  
    &__mark {
      margin-right: 5px;
    }
  
    &__text {
      font-size: 1.125rem;
    }
  
    &__cursor {
      display: inline-block;
      width: 10px;
      height: 1rem;
      background: $dark-teal;
      margin-left: 1px;
      border-radius: 1px;
      animation: cursor 1s infinite;
    }
  
    @media (prefers-reduced-motion: reduce) {
      &__cursor {
          animation: none;
      }
    }

    @include media-query($on-mobile) {
      position: fixed;
      left: 10px;
      top: 12px;

    }
  
  }
  
  @keyframes cursor {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
  }