<style>

    .social-links a {
      display: inline-block;
      text-decoration: none;
  }
  
</style>
  
<div class="social-links" align=center>
  
  <a href="{{ site.author.linkedin }}" target="_blank"><i class="icofont-linkedin icofont-2x"></i></a>
  <a href="{{ site.author.twitter }}" target="_blank"><i class="icofont-twitter icofont-2x"></i></a>
  <!--<a href="{{ site.author.facebook }}" target="_blank"><i class="icofont-facebook icofont-2x"></i></a>-->
  <a href="{{ site.author.github }}" target="_blank"><i class="icofont-github icofont-2x"></i></a>
  <a href="mailto:{{ site.author.email }}" target="_blank"><i class="icofont-email icofont-2x"></i></a>
  
</div>