---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">
  
{% include header.html %}
<body>
  <main aria-label="Content">
    {% include navbar.html %}
    <div class="wrapper not-found">
      <div class="container">
        <div class="title"></div>
        <h1>Page Not Found!!!</h1>
        <p class="phrase"> Seems like you are trying to access something that doesn't exist on my site. 😕 <br>
        You may want to go back to <a class="solution" href="{{ site.url }}">Home</a>.</p>
      </div>
    </div>
    {% include footer.html %}
  </main>
</body>

</html>